/* color palette for the project 
red: #E63946
light blue: #F1FAEE
normal blue: #A8DADC
regular blue: #457B9D
dark blue: #1D3557
*/

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #a8dadc;
  mix-blend-mode: normal;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: large;
  text-align: center;
  font-style: italic;
}

h3 {
  font-size: medium;
  text-align: center;
  font-weight: bold;
}
h4 {
  font-size: small;
  text-align: center;
  font-weight: 500;
}
h5 {
  font-size: x-small;
  font-style: italic;
  text-align: center;
  color: #1d3557;
}

header {
  margin: 3% 0;
}

section {
  /* background-color: white;
  border: 1px solid black; */

  justify-content: center;
  align-items: stretch;
}

.inputGallonsSold {
  max-width: 150px;
  border-radius: 5%;
}

input.submit {
  background-color: #1d3557;
  min-width: 50px;
  border-radius: 10%;
  color: #f1faee;
}

label {
  font-style: italic;
  font-size: x-small;
}

form {
  text-align: center;
}

div.soldList {
  font-size: x-small;
  padding: 1em 0 0 0;
  margin: 1em;
  background-color: #457b9d;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: left;
  color: #f1faee;
  min-height: 150px;
  max-width: 150px;
}

.tank {
  margin: 2em;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px black;
  border-radius: 20px;
  min-height: 150px;
  max-height: 200px;
  min-width: 100px;
  max-width: 250px;
}

.vertical {
  transform: rotate(-90deg);
}

#fuelTank .progress-bar-striped{
  background-color: #1D3557;
}
#acpmTank .progress-bar-striped{
  background-color: #E63946;
}
