/* color palette for the project 
red: #E63946
light blue: #F1FAEE
normal blue: #A8DADC
regular blue: #457B9D
dark blue: #1D3557
*/

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: x-small;
}
body {
  background: #a8dadc;
  mix-blend-mode: normal;
}

h1 {
  font-size: large;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: medium;
  text-align: center;
  font-style: italic;
}

h3 {
  font-size: small;
  text-align: center;
  font-weight: bold;
}
h4 {
  font-size: x-small;
  text-align: center;
  font-weight: 500;
}
h5 {
  font-size: x-small;
  font-style: italic;
  text-align: center;
  color: #1d3557;
}

header {
  margin: 3% 0;
}

section {
  text-align: center;
}

.inputGallonsSold {
  max-width: 4em;
  border-radius: 0.3em;
}

.button {
  background-color: #1d3557;
  min-width: 4em;
  border-radius: 0.3em;
  color: #f1faee;
}

label {
  font-style: italic;

  margin: 1em 0 0;
}

.soldList {
  padding: 1em 0 0 0;
  margin: 1em;
  background-color: #457b9d;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: left;
  color: #f1faee;
  min-height: 170px;
  width: auto;
}

.tank {
  margin: 1em 10% 2em;
  box-shadow: 0px 0px 0px 3px black;
  border-radius: 20px;
  max-width: 80%;
  min-height: 250px;
}

.progress-bar-vertical {
  width: 100%;
  min-height: 250px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  float: none;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

#fuelTank .progress-bar-striped {
  background-color: #e63946;
}
#dieselTank .progress-bar-striped {
  background-color: #1D3557;
  flex-direction: column;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 991.98px) {
  .change-direction {
    flex-direction: row-reverse;
  }
}

.inputGallonsSold {
  margin: 0.5em 0;
  max-width: 60%;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  .change-direction {
    flex-direction: column-reverse;
  }

  .tank {
    margin: 3em 20% 2em;
    max-width: 60%;
    min-height: 200px;
  }

  .soldList {
    font-size: medium;
    padding: 1em 0 0 0;
    margin: 1em 20% 2em;
    min-height: 150px;
    width: 60%;
  }
  h3 {
    font-size: larger;
    text-align: center;
    font-weight: bold;
  }

  .inputGallonsSold {
    margin: 0.5em 0;
    max-width: 50%;
  }
}
